extends layout

block content
  div(align='middle')
    h1= title

  div(class='button-container' align='middle')
    form(action="/createExercise", method="get")
      input(type="submit", value="Create Exercise")
    div(class='divider')
    form(action="/exercises/delete" method="post")
      input(type="submit", value="Create new workout program")

  table(border='1' align='center')
      thead
        tr
          th Exercise
          th Description
          th Set
          th Reps/Time
      tbody
        each exercise in exercises
          tr
            td= exercise.Exercise
            td= exercise.Description
            td= exercise.Set
            td= exercise.RepsTime